* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111827;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #22c55e;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #cbd5e1;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #22c55e;
}

.logout {
    color: #ef4444;
}

/* HERO */
.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
    color: #94a3b8;
}

.buttons .btn {
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

.primary {
    background: #22c55e;
    color: #0f172a;
}

.secondary {
    border: 2px solid #22c55e;
    color: #22c55e;
}

.primary:hover {
    background: #16a34a;
}

.secondary:hover {
    background: #22c55e;
    color: #0f172a;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 80px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background: #273549;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 20px;
    color: #94a3b8;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background: #22c55e;
    color: #0f172a;
    border-radius: 8px;
    text-decoration: none;
}

.card a:hover {
    background: #16a34a;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #111827;
}